:host {
  width: 100px;
  flex-shrink: 0;
  background: rgb(255, 255, 255);
  border-right: 3px solid black;
}

.icon {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 100px;
}
